<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wheel Of</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body class="w-full h-full bg-black">
  <div class="font-mono">
    <div id="wheel-of"></div>
  </div>
</body>

</html>
